.process-container {
  max-width: 1200px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-header {
  margin-bottom: 20px;
}

.process-title {
  color: white;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: -10px;
}

.process-description {
  color: white;
  font-size: 16px;
  font-family: "Light";
  max-width: 700px;
}

.process-row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
}

.process-column {
  width: calc(33.3333% - 40px);
  margin: 13px;
}

@media screen and (max-width: 1050px) {
  .process-column {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 650px) {
  .process-column {
    width: calc(100% - 20px);
  }
}

.process-box {
  display: flex;
  justify-content: center;
}

.process-inner-box {
  /* background-color: #333; */
  background-color: #2e2e2e;
  border-radius: 22px;
  padding: 1px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-box h3 {
  color: white;
  font-size: 15px;
}

.process-box p {
  color: white;
  font-size: 14px;
}

.process-box a {
  color: white;
  font-size: 14px;
}

.process-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 97%;
}

.process-icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: "Medium"; */
  width: 50px;
  flex-shrink: 1;
  text-decoration: none;
}

.process-icon-link:hover {
  text-decoration: underline;
  color: white;
}

.process-icon-link:hover p {
  font-family: "Bold";
  color: white;
}

.process-icon-link:hover .process-icon {
  color: white;
}

.process-icon-link:hover .process-icon-pdf {
  color: white;
}

.process-icon-link p {
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 12px;
  color: #ff7474;
}

.process-icon {
  font-size: 35px;
  color: #ff7474;
}

.process-icon-pdf {
  font-size: 35px;
  color: #ff7474;
  margin-left: 8px;
}