.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    
    /* background-color: white; */
    /* box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 10px;
    width: 7%;
  }
  
  .navbar-logo {
    color: #ff7474;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
  }
  
  .navbar-li {
    display: inline-block;
    padding: 0 1.25rem;
  }
  
  .navbar-li:hover .navbar-link {
    color: rgb(112, 92, 92);
  }
  
  .navbar-link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
  }
  