.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    
    /* background-color: white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2); */
}

.die-icon {
  color: inherit;
}

.white-text-navbar {
    /* background-color: black; */
    color: white;
}

.black-text-navbar {
    background-color: transparent;
    color: black;
}
  
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 10px;
    width: 7%;
  }
  
  .navbar-logo {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
  }
  
  .navbar-li {
    display: inline-block;
    padding: 0 1.25rem;
  }
  
  .navbar-li:hover, .navbar-logo:hover {
    color: #ffd7d7;
  }

  /* .navbar-right {
    background-color: black;
    height: 100%;
  } */
