.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    

    padding-left: 10px;
    width: 7%;
}

.navbar-logo {
    height: 2em;
    /* width: 2em; */
}

.navbar-li {
    display: inline-block;
    padding: 0 1.25rem;

    :hover {
        color: rgb(112, 92, 92);
    }
}

.navbar-text {
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    /* line-height: 2.5rem; */
}