.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .die-icon {
    animation: App-logo-spin infinite 20s linear;
    color: rgb(222, 95, 95);
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* helper classes */
.is-flex {
  display: flex;
  align-items: center;
}

 

/* BORROWING FROM OTHER APP */

/* Wrappers */

.wrapper {
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 8em 0 8em 0;
  text-align: center;
  
  /* min-height: 100vh; */
}

  .wrapper.style1 {
    background-image: none;
    background-color: gray;
  }

  .wrapper.style2 {
    background-color: #fafafa;
    text-shadow: 1px 1px 0px #fff;
  }

  .wrapper.style3 {
    background-color: #f4f4f4;
    text-shadow: 1px 1px 0px #fff;
  }

  .wrapper.style4 {
    background-color: #303030;
    color: #999;
    text-shadow: -1px -1px 0px #181818;
  }

    .wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
      color: #fff;
    }

    .wrapper.style4 form input[type=text],
    .wrapper.style4 form input[type=password],
    .wrapper.style4 form select,
    .wrapper.style4 form textarea {
      border: none;
      background: #282828;
    }

      .wrapper.style4 form input[type=text]:focus,
      .wrapper.style4 form input[type=password]:focus,
      .wrapper.style4 form select:focus,
      .wrapper.style4 form textarea:focus {
        background: #252525;
      }